.welcomeDiv{
    position: relative;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
}

.welcomeImg{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.name{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #0005;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nameH1{
    color: #fff;
    font-size: 10vw;
    position: sticky;
    top: 0;
}

.nameH1::after{
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    display: block;
    content: 'Agustín Souto';
    transform: scaleY(-1);
    opacity: .2;
}

.profileLinks{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    justify-content: center;
    gap: 10px;
}

.profLink{
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    background: #346bf7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    line-height: 50px;
    transform: translateX(-170px);
    transition: transform 1s;
}

    .profLink:hover{
        transform: translateX(0px);
        transition: transform 1s;
    }

    .profLink img{
        height: 100%;
    }

.contactBtnMobile{
    display: none;
}

.profileLinksMob{
    display: none;
}

@media screen and (max-width: 600px){
    .welcomeDiv{
        position: relative;
        width: 50px;
    }

    .profileLinks{
        display: none;
    }

    .nameH1{
        height: 20px;
    }

    .nameH1{
        font-size: 25px;
    }

    .contactBtnMobile{
        display: flex;
    }
    
    .profileLinksMob{
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        flex-direction: column;
        z-index: 20000;
        background: #346bf7;
    }

    .separateMobileLinks{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .mobileLink{
        display: flex;
        gap: 5px;
        line-height: 75px;
        color: #eee;
        font-weight: bold;
        text-decoration: none;
        justify-content: center;
    }

    .mobileLink img{
        height: 75px;
    }
    .mobileContactTitleDiv{
        box-shadow: 0px 1px 5px #346bf7;
        position: fixed;
        top: 0;
        display: flex;
        justify-content: space-between;
        background: #2a2b2b;
        height: 75px;
        width: 100%;
        margin-left: -10px;
    }
    
    .mobileContactTitleDiv{
        color: #eee;
        padding-left: 10px;
    }
    
    .closeMobileContact{
        position: fixed;
        right: 20px;
        top: -15px;
        font-size: 30px;
        cursor: pointer;
    }

    .contactBtnMobile{
        position: fixed;
        top: 10px;
        right: 10px;
        height: 50px;
    }
}

@media screen and (orientation: portrait){
    .welcomeImg{
        content: url('../../images/presentationBgMobile.jpg');
    }
}