.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #eee;
    animation: loader 3s infinite ease;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2a2b2b;
    display:flex;
    justify-content: center;
    align-items: center;
    animation: fadeLoad 3s forwards linear;
    z-index: 2000;
}

.loader-inner {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #346bf7;
    animation: loader-inner 3s infinite ease-in;
}

.appDiv{
    display: none;
}

@keyframes fadeLoad{
    0%{
        opacity: 1;
    }

    95%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        z-index: 0;
        display: none;
    }
}

@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
}